<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="39"
	android:versionName="1.6.16"
	package="com.xcoder.gembul"
	platformBuildVersionCode="27"
	platformBuildVersionName="8.1.0"
	>
	<uses-sdk
		android:minSdkVersion="15"
		android:targetSdkVersion="26"
		>
	</uses-sdk>
	<uses-permission
		android:name="android.permission.INTERNET"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.VIBRATE"
		>
	</uses-permission>
	<uses-permission
		android:name="com.android.vending.BILLING"
		>
	</uses-permission>
	<uses-feature
		android:name="android.hardware.sensor.accelerometer"
		android:required="false"
		>
	</uses-feature>
	<meta-data
		android:name="android.support.VERSION"
		android:value="25.3.1"
		>
	</meta-data>
	<uses-permission
		android:name="android.permission.WAKE_LOCK"
		>
	</uses-permission>
	<uses-permission
		android:name="com.google.android.c2dm.permission.RECEIVE"
		>
	</uses-permission>
	<permission
		android:name="com.paprbit.dcoder.permission.C2D_MESSAGE"
		android:protectionLevel="0x00000002"
		>
	</permission>
	<uses-permission
		android:name="com.paprbit.dcoder.permission.C2D_MESSAGE"
		>
	</uses-permission>
	<application
		android:theme="@7F0A0040"
		android:label="@7F08005F"
		android:icon="@7F02005A"
		android:name="com.paprbit.dcoder.util.DcoderApp"
		android:allowBackup="true"
		android:supportsRtl="false"
		>
		<provider
			android:name="android.support.v4.content.FileProvider"
			android:exported="false"
			android:authorities="com.paprbit.dcoder.fileprovider"
			android:grantUriPermissions="true"
			>
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@7F070000"
				>
			</meta-data>
		</provider>
		<provider
			android:name="com.facebook.FacebookContentProvider"
			android:exported="true"
			android:authorities="com.facebook.app.FacebookContentProvider1691462227779870"
			>
		</provider>
		<meta-data
			android:name="com.facebook.sdk.ApplicationId"
			android:value="@7F08014E"
			>
		</meta-data>
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@7F0C0008"
			>
		</meta-data>
		<meta-data
			android:name="com.google.firebase.messaging.default_notification_icon"
			android:resource="@7F02005B"
			>
		</meta-data>
		<receiver
			android:name="com.paprbit.dcoder.notifications.NotificationActionReceiver"
			android:exported="false"
			>
		</receiver>
		<receiver
			android:name="com.paprbit.dcoder.notifications.NotificationSwipeListener"
			android:exported="false"
			>
		</receiver>
		<activity
			android:theme="@7F0A0202"
			android:label="@7F08005F"
			android:name="com.facebook.FacebookActivity"
			android:configChanges="0x000005B0"
			>
		</activity>
		<activity
			android:name="com.facebook.CustomTabActivity"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<category
					android:name="android.intent.category.BROWSABLE"
					>
				</category>
				<data
					android:scheme="@7F080152"
					>
				</data>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F0A0040"
			android:label="@7F08005F"
			android:name="com.paprbit.dcoder.ui.activities.Home"
			android:windowSoftInputMode="0x00000012"
			>
			<intent-filter
				android:label="CodeNow"
				>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<category
					android:name="android.intent.category.BROWSABLE"
					>
				</category>
				<data
					android:scheme="http"
					android:host="www.facebook.com/SalamNias"
					android:pathPrefix="/codenow"
					>
				</data>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<category
					android:name="android.intent.category.BROWSABLE"
					>
				</category>
				<data
					android:scheme="file"
					>
				</data>
				<data
					android:mimeType="*/*"
					>
				</data>
				<data
					android:host="*"
					>
				</data>
				<data
					android:pathPattern=".*\.java"
					>
				</data>
				<data
					android:pathPattern=".*\.c"
					>
				</data>
				<data
					android:pathPattern=".*\.cpp"
					>
				</data>
				<data
					android:pathPattern=".*\.rb"
					>
				</data>
				<data
					android:pathPattern=".*\.py"
					>
				</data>
				<data
					android:pathPattern=".*\.py3"
					>
				</data>
				<data
					android:pathPattern=".*\.m"
					>
				</data>
				<data
					android:pathPattern=".*\.cs"
					>
				</data>
				<data
					android:pathPattern=".*\.php"
					>
				</data>
				<data
					android:pathPattern=".*\.js"
					>
				</data>
				<data
					android:pathPattern=".*\.lua"
					>
				</data>
				<data
					android:pathPattern=".*\.go"
					>
				</data>
				<data
					android:pathPattern=".*\.vb"
					>
				</data>
				<data
					android:pathPattern=".*\.fs"
					>
				</data>
				<data
					android:pathPattern=".*\.lsp"
					>
				</data>
				<data
					android:pathPattern=".*\.r"
					>
				</data>
				<data
					android:pathPattern=".*\.scala"
					>
				</data>
				<data
					android:pathPattern=".*\.pl"
					>
				</data>
				<data
					android:pathPattern=".*\.pas"
					>
				</data>
				<data
					android:pathPattern=".*\.swift"
					>
				</data>
				<data
					android:pathPattern=".*\.tcl"
					>
				</data>
				<data
					android:pathPattern=".*\.prolog"
					>
				</data>
				<data
					android:pathPattern=".*\.asm"
					>
				</data>
				<data
					android:pathPattern=".*\.hs"
					>
				</data>
				<data
					android:pathPattern=".*\.clj"
					>
				</data>
				<data
					android:pathPattern=".*\.groovy"
					>
				</data>
				<data
					android:pathPattern=".*\.kt"
					>
				</data>
				<data
					android:pathPattern=".*\.scm"
					>
				</data>
				<data
					android:pathPattern=".*\.rs"
					>
				</data>
				<data
					android:pathPattern=".*\.bf"
					>
				</data>
				<data
					android:pathPattern=".*\.html"
					>
				</data>
				<data
					android:pathPattern=".*\.css"
					>
				</data>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F0A0040"
			android:label="@7F080106"
			android:name="com.paprbit.dcoder.ui.activities.LoginRegisterActivity"
			android:windowSoftInputMode="0x00000022"
			>
		</activity>
		<activity
			android:theme="@7F0A019C"
			android:label="@7F08005F"
			android:name="com.paprbit.dcoder.ui.activities.MyIntro"
			android:windowSoftInputMode="0x00000022"
			>
		</activity>
		<activity
			android:name="com.paprbit.dcoder.ui.activities.NewsDetail"
			>
		</activity>
		<activity
			android:name="com.paprbit.dcoder.ui.activities.QuestionDetail"
			>
		</activity>
		<activity
			android:name="com.paprbit.dcoder.ui.activities.About"
			>
		</activity>
		<activity
			android:name="com.paprbit.dcoder.ui.activities.Settings"
			>
		</activity>
		<activity
			android:name="com.paprbit.dcoder.ui.activities.Feedback"
			>
		</activity>
		<activity
			android:theme="@7F0A019C"
			android:name="com.paprbit.dcoder.ui.activities.Splash"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.MAIN"
					>
				</action>
				<category
					android:name="android.intent.category.LAUNCHER"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:name="com.paprbit.dcoder.ui.activities.QuestionSolver"
			android:configChanges="0x000004A0"
			>
		</activity>
		<meta-data
			android:name="io.fabric.ApiKey"
			android:value="1cb71b1dbd14527e44b4a4f336bc4ce24765e283"
			>
		</meta-data>
		<activity
			android:name="com.paprbit.dcoder.ui.activities.SelectFileActivity"
			>
		</activity>
		<service
			android:name="com.paprbit.dcoder.services.MyFirebaseMessagingService"
			>
			<intent-filter
				>
				<action
					android:name="com.google.firebase.MESSAGING_EVENT"
					>
				</action>
			</intent-filter>
		</service>
		<service
			android:name="com.paprbit.dcoder.services.MyFirebaseInstanceIDService"
			>
			<intent-filter
				>
				<action
					android:name="com.google.firebase.INSTANCE_ID_EVENT"
					>
				</action>
			</intent-filter>
		</service>
		<activity
			android:name="com.paprbit.dcoder.ui.activities.QuestionResult"
			>
		</activity>
		<activity
			android:name="com.paprbit.dcoder.ui.activities.Profile"
			android:windowSoftInputMode="0x00000020"
			>
		</activity>
		<activity
			android:name="com.paprbit.dcoder.ui.activities.ThemeSelect"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.paprbit.dcoder.ui.activities.ProDetails"
			>
		</activity>
		<activity
			android:name="com.paprbit.dcoder.ui.activities.ChangePassword"
			android:windowSoftInputMode="0x00000022"
			>
		</activity>
		<activity
			android:name="com.paprbit.dcoder.ui.activities.ForgotPassword"
			android:windowSoftInputMode="0x00000022"
			>
		</activity>
		<activity
			android:name="com.paprbit.dcoder.ui.activities.ResetPassword"
			android:windowSoftInputMode="0x00000022"
			>
		</activity>
		<activity
			android:name="com.paprbit.dcoder.ui.activities.HelpActivity"
			android:windowSoftInputMode="0x00000030"
			>
		</activity>
		<activity
			android:name="com.paprbit.dcoder.ui.activities.CodeTest"
			android:configChanges="0x000004A0"
			>
		</activity>
		<activity
			android:name="com.paprbit.dcoder.ui.activities.BrowserActivity"
			android:configChanges="0x00000480"
			>
		</activity>
		<activity
			android:name="com.paprbit.dcoder.ui.activities.AccessoryViewDragSettings"
			>
		</activity>
		<activity
			android:theme="@7F0A0040"
			android:label="@7F08005F"
			android:name="com.paprbit.dcoder.ui.activities.DesignNow"
			android:windowSoftInputMode="0x00000012"
			android:parentActivityName="com.paprbit.dcoder.ui.activities.Home"
			>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.paprbit.dcoder.ui.activities.Home"
				>
			</meta-data>
		</activity>
		<activity
			android:name="com.paprbit.dcoder.ui.activities.Donation"
			>
		</activity>
		<activity
			android:theme="@01030010"
			android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
			android:exported="false"
			android:excludeFromRecents="true"
			>
		</activity>
		<service
			android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"
			android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"
			android:exported="true"
			>
		</service>
		<service
			android:name="com.google.firebase.messaging.FirebaseMessagingService"
			android:exported="true"
			>
			<intent-filter
				android:priority="-500"
				>
				<action
					android:name="com.google.firebase.MESSAGING_EVENT"
					>
				</action>
			</intent-filter>
		</service>
		<activity
			android:name="com.facebook.CustomTabMainActivity"
			>
		</activity>
		<provider
			android:name="com.facebook.internal.FacebookInitProvider"
			android:exported="false"
			android:authorities="com.paprbit.dcoder.FacebookInitProvider"
			>
		</provider>
		<activity
			android:name="com.facebook.ads.AudienceNetworkActivity"
			android:configChanges="0x000004A0"
			>
		</activity>
		<activity
			android:theme="@0103000F"
			android:name="com.google.android.gms.ads.AdActivity"
			android:configChanges="0x00000FB0"
			>
		</activity>
		<activity
			android:theme="@01030010"
			android:name="com.google.android.gms.common.api.GoogleApiActivity"
			android:exported="false"
			>
		</activity>
		<activity
			android:theme="@01030010"
			android:name="com.android.billingclient.api.ProxyBillingActivity"
			android:configChanges="0x000005B0"
			>
		</activity>
		<receiver
			android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
			android:enabled="true"
			android:exported="false"
			>
		</receiver>
		<receiver
			android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver"
			android:permission="android.permission.INSTALL_PACKAGES"
			android:enabled="true"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="com.android.vending.INSTALL_REFERRER"
					>
				</action>
			</intent-filter>
		</receiver>
		<service
			android:name="com.google.android.gms.measurement.AppMeasurementService"
			android:enabled="true"
			android:exported="false"
			>
		</service>
		<service
			android:name="com.google.android.gms.measurement.AppMeasurementJobService"
			android:permission="android.permission.BIND_JOB_SERVICE"
			android:enabled="true"
			android:exported="false"
			>
		</service>
		<receiver
			android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
			android:permission="com.google.android.c2dm.permission.SEND"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="com.google.android.c2dm.intent.RECEIVE"
					>
				</action>
				<category
					android:name="com.paprbit.dcoder"
					>
				</category>
			</intent-filter>
		</receiver>
		<receiver
			android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver"
			android:exported="false"
			>
		</receiver>
		<service
			android:name="com.google.firebase.iid.FirebaseInstanceIdService"
			android:exported="true"
			>
			<intent-filter
				android:priority="-500"
				>
				<action
					android:name="com.google.firebase.INSTANCE_ID_EVENT"
					>
				</action>
			</intent-filter>
		</service>
		<provider
			android:name="com.google.firebase.provider.FirebaseInitProvider"
			android:exported="false"
			android:authorities="com.paprbit.dcoder.firebaseinitprovider"
			android:initOrder="100"
			>
		</provider>
	</application>
</manifest>
